* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body styling */
body {
    background-color: #f4f4f9;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

/* Header styling */
header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo styling */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

/* Navigation styling */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(26, 25, 25, 0.219);
}

/* Responsive design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    nav ul li a {
        display: block;
        width: 100%;
        text-align: left;
    }
}
h2{
    font-weight: bold;
    text-align: center;
    margin-top: 7em;
}
p{
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
}
.div1{
    /* border: 3px solid #4CAF50; */
    width: 600px;
    height: 600px;

}
img{
    width:500px;
    height: 400px;
    margin-top: 4em;
    
}
.parent{
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}